* {
    padding: 0;
    margin: 0;
}

section {
    background-color: lightgrey;
    border: 1px solid black;
    width: 600px;
    margin: 25px auto 0 auto;
}

section p {
    width: 200px;
    border: 25px solid black;
    margin: 25px auto 25px auto;
    padding: 25px;
}